.card {
	margin-bottom: 0.5rem;
	.profile-image {
		max-height: 5rem;
	}
	.message-details {
		flex: 1;
		padding-left: 0.5rem;
		.message {
			font-size: 0.9rem;
			font-style: italic;
		}
		.date {
			color: grey;
			font-weight: 600;
			font-size: 0.8rem;
		}
	}
}
