<div class="onboarding-header">
	<h5 class="text-center">Professional Information</h5>
	<button type="button" class="btn btn-outline-primary btn-sm add-btn" (click)="addExperience()">Add Experience</button>
</div>
<div *ngIf="loading">
	<app-loading></app-loading>
</div>
<div class="alert alert-danger" *ngIf="error">
	{{ error }}
</div>
<form (ngSubmit)="proceed()">
	<div class="profession">
		<app-professional-details
			[exp]="exp"
			(onRemoval)="removeExperience(i)"
			(onDelete)="deleteExperience(i)"
			(onSave)="saveExperience($event, i)"
			*ngFor="let exp of experiences; let i = index"
		></app-professional-details>
	</div>

	<div class="row mt-1">
		<div class="form-group col-12 d-flex justify-content-between">
			<a class="btn btn-secondary" [routerLink]="['../educational-info']">
				Back
			</a>
			<input type="submit" value="Next" class="btn btn-success" />
		</div>
	</div>
</form>
