<div class="card">
	<div class="card-header d-flex">
		{{ project.projectName }}
		<div class="ml-auto">
			<button type="button" class="btn btn-link btn sm" (click)="edit()">
				<fa-icon [icon]="faPencilAlt" class="edit"></fa-icon>
			</button>
			<button type="button" class="btn btn-link btn sm" (click)="delete()">
				<fa-icon [icon]="faTrash" class="delete"></fa-icon>
			</button>
		</div>
	</div>
	<div class="card-body">
		<div class="d-flex">
			<div class="info">
				<label class="info-title">Company</label>
				<span>{{ project.companyName }}</span>
			</div>
			<div class="info ml-auto">
				<label class="info-title">From</label>
				<span>{{ project.startDate | date }}</span>
				-
				<span>{{ project.endDate | date }}</span>
			</div>
		</div>
		<div class="info">
			<label class="info-title">Description</label>
			<span>{{ project.projectDetails }}</span>
		</div>
		<div class="d-flex">
			<div class="info">
				<label class="info-title">Role</label>
				<span>{{ project.role }}</span>
			</div>
			<div class="info ml-auto">
				<label class="info-title"> Technologies</label>
				<span class="chip" *ngFor="let tech of project.technologyUsed">{{ tech }}</span>
			</div>
		</div>
		<div class="info">
			<label class="info-title">Job Description</label>
			<span>{{ project.roleDescription }}</span>
		</div>
	</div>
</div>
