<div class="row justify-content-center body-container align-items-center">
	<div class="col-md-4 col-12">
		<h3>Employer</h3>
		<p>
			Get hold of the talented developers in the current market for your business needs.
		</p>
		<a [routerLink]="['employer-login']" class="btn btn-success btn-block">Login</a>
	</div>
	<div class="col-md-4 col-12">
		<h3>Job Seeker</h3>
		<p>
			The world of opportunities is at a stone throw distance. Grab it at the earliest
		</p>
		<a [routerLink]="['job-seeker-login']" queryParamsHandling="merge" class="btn btn-primary btn-block">Login</a>
	</div>
</div>
