<div class="card">
	<div class="card-header d-flex justify-content-between">
		{{ title }}
		<button class="btn btn-sm btn-link" (click)="toggleEditMode()">
			{{ editMode ? 'Close' : 'Edit' }}
		</button>
	</div>
	<div class="card-body">
		<div *ngIf="!editMode; else editAddress">
			<address *ngIf="!isAddressInvalid">
				{{ address.address }}, {{ address.city }}, {{ address.state }}, {{ address.country }},
				{{ address.pincode }}
			</address>
			<address *ngIf="isAddressInvalid">Invalid Address</address>
		</div>
		<ng-template #editAddress>
			<form [formGroup]="addressForm" (ngSubmit)="changeAddress()">
				<div class="form-group row">
					<label for="country" class="col-3">Country</label>
					<div class="col-9">
						<input
							name="country"
							formControlName="country"
							class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.country.errors }"
						/>
						<div *ngIf="submitted && f.country.errors" class="invalid-feedback">
							<div *ngIf="f.country.errors.required">
								Country is required
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="state" class="col-3">State</label>
					<div class="col-9">
						<input
							name="state"
							formControlName="state"
							class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.state.errors }"
						/>
						<div *ngIf="submitted && f.state.errors" class="invalid-feedback">
							<div *ngIf="f.state.errors.required">
								State is required
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="city" class="col-3">City</label>
					<div class="col-9">
						<input
							name="city"
							formControlName="city"
							class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.city.errors }"
						/>
						<div *ngIf="submitted && f.city.errors" class="invalid-feedback">
							<div *ngIf="f.city.errors.required">
								City is required
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="type" class="col-3">Type</label>
					<div class="col-9">
						<select
							name="type"
							formControlName="type"
							class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.type.errors }"
						>
							<option [ngValue]="undefined">--Select Address Type--</option>
							<option value="present">Present</option>
							<option value="permanent">Permanent</option>
						</select>
						<div *ngIf="submitted && f.type.errors" class="invalid-feedback">
							<div *ngIf="f.type.errors.required">
								Address Type is required
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="pincode" class="col-3">Zipcode</label>
					<div class="col-9">
						<input
							name="pincode"
							formControlName="pincode"
							class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"
						/>
						<div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
							<div *ngIf="f.pincode.errors.required">
								Zipcode is required
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="address" class="col-3">Address</label>
					<div class="col-9">
						<textarea
							name="address"
							rows="2"
							formControlName="address"
							class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.address.errors }"
						></textarea>
						<div *ngIf="submitted && f.address.errors" class="invalid-feedback">
							<div *ngIf="f.address.errors.required">
								Address is required
							</div>
						</div>
					</div>
				</div>
				<input class="btn btn-success btn-sm" type="submit" value="save" />
			</form>
		</ng-template>
	</div>
</div>
