<h5 class="text-center">Address Information</h5>
<hr />
<div *ngIf="loading">
	<app-loading></app-loading>
</div>
<div class="alert alert-danger" *ngIf="error">
	{{ error }}
</div>
<div class="row  onboarding-form-body">
	<div class="col-12">
		<app-address
			title="Permanent Address"
			[address]="permanentAddress"
			[restrictEdit]="false"
			(saveAddress)="savePermanentAddress($event)"
		></app-address>
	</div>
	<div class="col-12">
		<app-address
			title="Present Address"
			[address]="presentAddress"
			[restrictEdit]="false"
			(saveAddress)="savePresentAddress($event)"
		></app-address>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex justify-content-between">
		<a class="btn btn-secondary" [routerLink]="['../personal-info']">
			Back
		</a>
		<button type="button" (click)="proceed()" class="btn btn-success">
			Next
		</button>
	</div>
</div>
