<div class="card">
	<div class="card-body">
		<div class="text-center">
			<img
				src="http://genchi.info/images/profile-picture-12.jpg"
				class="img-thumbnail"
				alt="..."
			/>
		</div>
		<h5>Debanande Mohanty</h5>
		<p class="d-flex align-items-center">
			<fa-icon [icon]="faPhone"></fa-icon>
			<span class="email">123456789</span>
		</p>
		<p class="d-flex align-items-center">
			<fa-icon [icon]="faEnvelope"></fa-icon>
			<span class="email">test@gmail.com / test@mail.com</span>
		</p>
	</div>
</div>
