<h5 class="text-center">About Me</h5>
<hr />
<div class="row">
	<div class="col-12">
		<div class="d-flex justify-content-center">
			<ack-webcam
				#webcam
				[options]="options"
				(success)="onCamSuccess($event)"
				(catch)="onCamError($event)"
			></ack-webcam>
		</div>
		<div class="d-flex justify-content-between">
			<button class="btn btn-sm btn-primary" (click)="genBase64(webcam)">
				Capture Image
			</button>
			<button class="btn btn-sm btn-primary" (click)="genPostData(webcam)">
				Capture Video
			</button>
		</div>
	</div>
</div>
