<div class="row justify-content-center h-100 align-items-center">
	<div class="col-md-4 col-12">
		<div *ngIf="loading">
			<app-loading>Loading...</app-loading>
		</div>
		<div
			class="alert alert-success"
			*ngIf="submitted && forgotPasswordForm.valid && !loading"
		>
			Password reset link has been sent to your registered email
		</div>
		<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="email">User Name</label>
				<input
					type="email"
					class="form-control"
					[ngClass]="{ 'is-invalid': submitted && f.email.invalid }"
					formControlName="email"
				/>
				<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
					<div *ngIf="f.email.errors.required">Email is required</div>
					<div *ngIf="f.email.errors.email">
						Please provide a valid email
					</div>
				</div>
			</div>
			<input type="submit" class="btn btn-primary btn-block" value="Validate" />
		</form>
	</div>
</div>
