<div class="modal-header">
	<button type="button" class="close" aria-label="Close" (click)="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form class="row" [formGroup]="educationForm" (ngSubmit)="save()">
		<div class="form-group col-md-4 col-12">
			<label for="qualification">Degree / Qualification</label>
			<input
				type="text"
				id="qualification"
				class="form-control"
				formControlName="qualification"
				[ngClass]="{ 'is-invalid': submitted && f.qualification.errors }"
			/>
			<div *ngIf="submitted && f.qualification.errors" class="invalid-feedback">
				<div *ngIf="f.qualification.errors.required">
					Qualification is required
				</div>
			</div>
		</div>
		<div class="form-group col-md-4 col-12">
			<label for="subject">Subject</label>
			<input
				type="text"
				id="subject"
				class="form-control"
				formControlName="subject"
				[ngClass]="{ 'is-invalid': submitted && f.subject.errors }"
			/>
			<div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
				<div *ngIf="f.subject.errors.required">
					Subject is required
				</div>
			</div>
		</div>
		<div class="form-group col-md-4 col-12">
			<label for="institution">Institution Name</label>
			<input
				type="text"
				id="institution"
				class="form-control"
				formControlName="institution"
				[ngClass]="{ 'is-invalid': submitted && f.institution.errors }"
			/>
			<div *ngIf="submitted && f.institution.errors" class="invalid-feedback">
				<div *ngIf="f.institution.errors.required">
					Institution is required
				</div>
			</div>
		</div>
		<div class="form-group col-md-4 col-12">
			<label for="startDate">Starting Date</label>
			<input
				type="date"
				id="startDate"
				class="form-control"
				formControlName="startDate"
				[ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
			/>
			<div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
				<div *ngIf="f.startDate.errors.required">
					Starting Date is required
				</div>
			</div>
		</div>
		<div class="form-group col-md-4 col-12">
			<label for="endDate">Passing Year</label>
			<input
				type="date"
				id="endDate"
				class="form-control"
				formControlName="endDate"
				[ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"
			/>
			<div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
				<div *ngIf="f.endDate.errors.required">
					Passing Year is required
				</div>
			</div>
		</div>
		<div class="form-group col-md-4 col-12">
			<label for="percentage">Percentage / Grade</label>
			<input
				type="text"
				id="percentage"
				class="form-control"
				formControlName="percentage"
				[ngClass]="{ 'is-invalid': submitted && f.percentage.errors }"
			/>
			<div *ngIf="submitted && f.percentage.errors" class="invalid-feedback">
				<div *ngIf="f.percentage.errors.required">
					Percentage / Grade is required
				</div>
			</div>
		</div>
		<div class="form-group col-12 d-flex justify-content-between">
			<button type="button" class="btn btn-outline-primary btn-sm" (click)="cancel()">
				Cancel
			</button>
			<button type="submit" class="btn btn-outline-success btn-sm">Save</button>
		</div>
	</form>
</div>
