<div class="row justify-content-center h-100 align-items-center">
	<div class="col-md-4 col-12">
		<form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
			<div class="form-group">
				<label for="newPassword">New Password</label>
				<input
					type="password"
					class="form-control"
					[ngClass]="{
						'is-invalid': submitted && f.newPassword.invalid
					}"
					formControlName="newPassword"
				/>
				<div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
					<div *ngIf="f.newPassword.errors.required">
						New Password is required
					</div>
					<div *ngIf="f.newPassword.errors.minlength">
						New Password must be at least 6 characters
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label>
				<input
					type="password"
					class="form-control"
					formControlName="confirmPassword"
					[ngClass]="{
						'is-invalid': submitted && f.confirmPassword.invalid
					}"
				/>
				<div
					*ngIf="submitted && f.confirmPassword.errors"
					class="invalid-feedback"
				>
					<div *ngIf="f.confirmPassword.errors.required">
						Confirm Password is required
					</div>
					<div *ngIf="f.confirmPassword.errors.mustMatch">
						Passwords must match
					</div>
				</div>
			</div>
			<input
				type="submit"
				class="btn btn-primary btn-block"
				value="Change Password"
			/>
		</form>
	</div>
</div>
