/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&display=swap');
* {
	font-family: 'Open Sans', sans-serif;
}
body {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
	background: #cedce7; /* Old browsers */
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cedce7 0%, #596a72 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		#cedce7 0%,
		#596a72 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

.chip {
	border-radius: 0.75rem;
	background-color: #099c89;
	padding: 0.25rem 0.75rem;
	font-size: 0.9rem;
	color: #fff;
	margin: 0.25rem;
}

.invalid-feedback {
	display: block;
}

.body-container {
	min-height: calc(100vh - 17rem);
}
