<div class="card">
	<div class="card-header d-flex">
		{{ education.qualification }}
		<div class="ml-auto">
			<button type="button" class="btn btn-link btn sm" (click)="edit()">
				<fa-icon [icon]="faPencilAlt" class="edit"></fa-icon>
			</button>
			<button type="button" class="btn btn-link btn sm" (click)="delete()">
				<fa-icon [icon]="faTrash" class="delete"></fa-icon>
			</button>
		</div>
	</div>
	<div class="card-body">
		<dl class="info">
			<dt>Institute :</dt>
			<dd>{{ education.institution }}</dd>
			<dt>Subject / Stream :</dt>
			<dd>{{ education.subject }}</dd>
			<dt>Duration :</dt>
			<dd>{{ education.startDate | date }} - {{ education.endDate | date }}</dd>
			<dt>Percentage / Aggregate :</dt>
			<dd>{{ education.percentage }}</dd>
		</dl>
	</div>
</div>
