<h5 class="text-center">Educational Information</h5>
<hr />
<div *ngIf="loading">
	<app-loading></app-loading>
</div>
<div class="alert alert-danger" *ngIf="error">
	{{ error }}
</div>
<form (ngSubmit)="proceed()">
	<div class="education">
		<app-education-details
			[education]="education"
			(onRemoval)="removeEducation(i)"
			(onDelete)="deleteEducation(i)"
			(onSave)="saveEducation($event, i)"
			*ngFor="let education of educations; let i = index"
		></app-education-details>
	</div>
	<button type="button" class="btn btn-secondary btn-sm" (click)="addEducation()">+</button>
	<div class="row">
		<div class="form-group col-12 d-flex justify-content-between">
			<a class="btn btn-secondary" [routerLink]="['../address-info']">
				Back
			</a>
			<input type="submit" value="Next" class="btn btn-success" />
		</div>
	</div>
</form>
