<div class="onboarding-header">
	<h5 class="text-center">Educational Information</h5>
	<button type="button" class="btn btn-outline-primary btn-sm add-btn" (click)="addEducation()">Add Education</button>
</div>
<div *ngIf="loading">
	<app-loading></app-loading>
</div>
<div class="alert alert-danger" *ngIf="error">
	{{ error }}
</div>
<form (ngSubmit)="proceed()">
	<div class="education">
		<app-education-details
			[education]="education"
			(onRemoval)="removeEducation(i)"
			(onDelete)="deleteEducation(i)"
			(onSave)="saveEducation($event, i)"
			*ngFor="let education of educations; let i = index"
		></app-education-details>
	</div>

	<div class="row mt-1">
		<div class="form-group col-12 d-flex justify-content-between">
			<button class="btn btn-secondary" (click)="goBack()">
				Back
			</button>
			<input type="submit" value="Next" class="btn btn-success" />
		</div>
	</div>
</form>
