<h5 class="text-center">Educational Information</h5>
<hr />
<div *ngIf="loading">
	<app-loading></app-loading>
</div>
<div class="alert alert-danger" *ngIf="error">
	{{ error }}
</div>
<form (ngSubmit)="proceed()">
	<div class="text-center">
		<button class="btn btn-primary" (click)="addEducation()" *ngIf="educations.length < 1">Add Education</button>
	</div>
	<div class="educations" *ngFor="let education of educations; let i = index">
		<app-education-form
			[education]="education"
			(onAddition)="addEducation()"
			(onRemoval)="removeEducation(i)"
			(onSave)="saveEducation($event, i)"
		></app-education-form>
	</div>
	<div class="row">
		<div class="form-group col-12 d-flex justify-content-between">
			<a class="btn btn-secondary" [routerLink]="['../address-info']">
				Back
			</a>
			<input type="submit" value="Next" class="btn btn-success" />
		</div>
	</div>
</form>
