<div class="card">
	<div class="card-header d-flex">
		{{ exp.company }}
		<div class="ml-auto">
			<button type="button" class="btn btn-link btn sm" (click)="edit()">
				<fa-icon [icon]="faPencilAlt" class="edit"></fa-icon>
			</button>
			<button type="button" class="btn btn-link btn sm" (click)="delete()">
				<fa-icon [icon]="faTrash" class="delete"></fa-icon>
			</button>
		</div>
	</div>
	<div class="card-body">
		<dl class="info">
			<dt>Duration :</dt>
			<dd>{{ exp.startDate | date }} To {{ exp.endDate | date }}</dd>
			<dt>Job Title :</dt>
			<dd>{{ exp.jobTitle }}</dd>
			<dt>Job Description :</dt>
			<dd>{{ exp.description }}</dd>
		</dl>
	</div>
</div>
