.card {
	min-width: 20rem;
	margin: 0 0.5rem 0.5rem 0;
	.info {
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}
	.edit {
		color: #666;
	}
	.delete {
		color: red;
	}
}

.btn-link {
	padding: 0 0.5rem;
}
